[Desktop Entry]
Name=Sculpture
Name[ar]=نحت
Name[an]=Escultura
Name[bg]=Скулптура
Name[br]=Kizellañ
Name[bs]=Skulptura
Name[ca]=Escultura
Name[co]=Scultura
Name[cs]=Socha
Name[cy]=Cerfluniaeth
Name[da]=Skulptur
Name[de]=Skulptur
Name[el]=Γλυπτική
Name[eo]=Skulpturo
Name[es]=Escultura
Name[et]=Skulptuur
Name[fi]=Kuvanveisto
Name[fr]=Sculpture
Name[he]=פיסול
Name[hr]=Skulptura
Name[hu]=Szobrászat
Name[ia]=Sculptura
Name[id]=Patung
Name[it]=Scultura
Name[io]=Skulto
Name[ja]=彫刻
Name[ka]=ქანდაკება
Name[lv]=Tēlniecība
Name[lt]=Skulptūra
Name[mk]=Вајарство
Name[mt]=Skultura
Name[nb]=Skulptur
Name[nl]=Sculptuur
Name[oc]=Escultura
Name[pl]=Rzeźba
Name[pt]=Escultura
Name[ro]=Sculptură
Name[ru]=Скульптура
Name[sh]=Vajarstvo
Name[sk]=Sochárstvo
Name[sl]=Kiparstvo
Name[sr]=Вајарство
Name[sv]=Skulptur
Name[sw]=Bombwe
Name[tl]=Eskultura
Name[tr]=Heykel
Name[uk]=Скульптура
Name[yi]=סקאלפטור
Name[zh]=雕塑
X-KDE-Library=kwin3_skulpture
